.body {
  height: 100vh;
  width: 100vw;
  display: flex;
    // .left-box {
    //   height: 100%;
    //   width: 300px;
    //   background-color:gray;
    //   .user-box{
    //       height: 100px;
    //       width: 300px;
    //       background-color:#253141;
    //       display: flex;
    //       align-items: center;
    //       padding: 0 20px;
    //       justify-content: space-between;      
    //     .user-name{           
    //         .p{
    //           font-size: 16px;
    //           color: #ffffff;
    //           font-weight: bold;             
    //           }
    //     }
    //     .icon-head{
    //       display: flex;
    //       &__editedit{
    //         color: white;
    //         // .edit{
    //         //   }
    //       }
    //       &__cogcog{
    //         color: white;
    //         .cog{
    //           color: white;
    //           margin: 0 0 0 5px;
    //           }
    //       }         
    //     }       
    //   }         
    //     .group-box{
    //       height: calc(100vh - 100px);
    //       width: 300px;
    //       background-color: #2f3e51;
    //       padding: 20px 20px 0px;
    //         .ingroup-box{
    //           height: 45px;
    //           width: 260px;
    //           background-color: #2f3e51;
    //           margin-bottom: 40px;
    //             .minigroup-box{
    //               height: 23px;
    //               width: 260px;
    //               background-color: #2f3e51;
    //                 .p{
    //                   color: white;
    //                   font-size: 15px;
    //                   margin-bottom: 5px;
    //                 }
    //             }           
    //             .chat-preview{
    //               height: 17px;
    //               width:260px;
    //               background-color: #2f3e51;
    //               .p{
    //                 color: white;
    //                 font-size: 11px;
    //               }
    //           }
    //         }
    //     }
    // }
    .right-box {
      height: 100%;
      width: calc(100vw - 300px);
      
        .group-room{
          height: 100px;
          width: calc(100vw - 300px);
          background-color:white;
          justify-content: space-between;
          padding: 0 40px;
          border-bottom: solid 1px #eee;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: rgb(238, 238, 238);
          display: flex;
              .left-headbox{
                height: 100px;
                padding-top: 35px;           
                .left-headname{                  
                  color: #333333;
                  font-size: 20px;
                  
                }
                .member-box{
                  height: 25px;
                  width: 64px;
                  display: flex;                 
                    .left-member{
                      padding-top: 15px;                     
                      color: #999999;
                        .p{
                        color: #999999;
                        font-size: 12px;
                        }
                    }
                    .in-member{
                      margin: 0 0 0 5px;
                      padding-top: 15px;
                      color: #999999;
                      font-size: 12px;
                    }
                }                 
            }
            .edit-btn{
              height: 40px;
              line-height: 40px;
              padding: 0 20px;
              margin-top: 30px;
              border: solid 1px #38aef0;
              position: absolute;
              right: 40px;
              // text-decoration-line: none;
                .p {
                  color: #38aef0;
                  text-decoration-line: none;
                }
            }
        }
        .group-chat{
          height: calc(100vh - 190px);
          width: calc(100vw - 300px);
          background-color:#fafafa;
          padding: 46px 40px;
          overflow: scroll;
          // display: flex;
          
          .upper-message{
            display: flex;
            margin: 0 0 10px;
            width: 100%;
            .upper-message__user-name{
              font-weight: bold;
              font-size: 16px;
              color: #434A54;
              // width: 100%;
            }
            .upper-message__date{
              margin-left:10px;
              font-size: 12px;
              color: #434A54;
            }
          }
          .lower-message__content{
            font-size:14px;
            margin-bottom: 40px;
            color: #434a54;
          }
        }
        .comment-bottom{
          height: 90px;
          width: 100%;
          padding: 20px 40px;
          display: flex;
          background-color: #ddd;
          position:  relative;

          .chat-base {
            height: 50px;
            width: calc(100vw - 495px);
            background-color: white;
            padding: 0px 0 px 0px 10px; 
            display: flex;

          }

              .chat-box{
                height: 50px;
                width: calc(100vw - 535px);
                background-color: white;
                padding: 0px 0 px 0px 10px; 
                display: flex;
                border: none;
                // justify-content: space-between;
                // position:  relative;

              }
              .img-btn-box{
                height: 50px;
                width: 40px;
                position: absolute;
                top: 35px;
                right : 145px;

                .img{
                  color: black;
                
                  cursor: pointer;
                  .image{
                    font-size: 1.3em;
                  }
                  .hidden{
                    display: none;
                  }
                }
              }
          .chat-send{
              height: 50px;
              width: 100px;
              background-color: #38aef0;
              color: white;
              margin: 0px 0px 0px 15px;
              cursor: pointer;
              position: absolute;
              top: 20px;
              right : 40px;
              .p{
                text-align: center;
                margin-top: 13px;
                font-size: 16px;
              }
            }
        }
  }
}