* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

@import "reset";
@import "index";
@import "font-awesome";
@import "modules/user"; 
@import "config/colors";
@import "modules/flash";
@import "modules/group";
// @import "modules/chat";
@import "modules/side_bar";




